# Flutter / Dart
.dart_tool/
.buildlog/
.packages
pubspec.lock
build/
ios/Pods/
macos/Pods/
android/.gradle/
android/app/build/

# IDE
.idea/
.vscode/
*.iml

# Sonstiges
.flutter-plugins
.flutter-plugins-dependencies

# Keine sensiblen Dateien
*.keystore
*.jks
*.pem
.env

# Generated plugin registrants (automatically created)
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake